body {
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
}

p {
    font-weight: 600;
    font-size: 3em;
}

li {
    background-color: rgb(212, 212, 212);
}

.cor_favorita {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    line-height: 1.5em;
    text-align: center;
    text-decoration: purple;
}

#amarelo {
    color: yellow;
}

#vermelho {
    color: red;
}

#marrom {
    color: saddlebrown;;
}
